.category {
    padding-top: 122px;
    position: relative;
    z-index: 1;
    &::after{
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width:973px ;
      height:15px;
      top: 65px;
      left:0px;
      background-image: url(../../icons/category__path2.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      display: flex;
      flex-direction:row;
      justify-content:space-between;
      align-items:start;
      gap:0px;
    }
    &__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:start;
      gap:40px;
    }
    &__image {
      width: 56px;
      height: 56px;
    }
    &__mini-boxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:start;
      gap:27px;
    }
    &__title {
      font-family: "space mono";
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
      color: $dark__navy;
      text-align: start;
    }
    &__title-text {
        width: 100%;
        font-family: "lexend deca";
      font-size:24px;
      line-height: 28px;
      font-weight:100%;
      letter-spacing:0px;
      color: $dim__gray;
      text-align:start;
    }
  }
@media (max-width:1024px) {
  .category {
    padding-top: 122px;
    position: relative;
    z-index: 1;
    &::after{
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width:15px ;
      height:512px;
      left: 193px;
      background-image: url(../../icons/Path\ 2.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      padding-left: 24px;
      padding-right: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
    &__boxs {
        width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }
    &__images {
      width: 56px;
      height: 56px;
    }
    &__mini-boxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:start;
      gap:27px;
    }
    &__title {
      font-family: "space mono";
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
      letter-spacing: -0.89px;
      color: $dark__navy;
      text-align: start;
    }
    &__title-text {
        width: 100%;
        font-family: "lexend deca";
      font-size: 15px;
      line-height: 25px;
      font-weight:100%;
      letter-spacing:0px;
      color: $dim__gray;
      text-align:start;
    }
  }
}
@media (max-width:820px) {
  .category {
    padding-top: 122px;
    position: relative;
    z-index: 1;
    &::after{
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width:15px ;
      height:512px;
      left: 135px;
      background-image: url(../../icons/Path\ 2.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      padding-left: 24px;
      padding-right: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
    &__box {
        width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }
    &__image {
      width: 56px;
      height: 56px;
    }
    &__mini-boxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:start;
      gap:27px;
    }
    &__title {
      font-family: "space mono";
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
      letter-spacing: -0.89px;
      color: $dark__navy;
      text-align: start;
    }
    &__title-text {
        width: 100%;
        font-family: "lexend deca";
      font-size: 15px;
      line-height: 25px;
      font-weight:100%;
      letter-spacing:0px;
      color: $dim__gray;
      text-align:start;
    }
  }
}
@media (max-width:768px) {
  .category {
    padding-top: 122px;
    position: relative;
    z-index: 1;
    &::after{
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width:15px ;
      height:512px;
      left: 125px;
      background-image: url(../../icons/Path\ 2.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      padding-left: 24px;
      padding-right: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
    &__box {
        width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }
    &__image {
      width: 56px;
      height: 56px;
    }
    &__mini-boxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:start;
      gap:27px;
    }
    &__title {
      font-family: "space mono";
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
      letter-spacing: -0.89px;
      color: $dark__navy;
      text-align: start;
    }
    &__title-text {
        width: 100%;
        font-family: "lexend deca";
      font-size: 15px;
      line-height: 25px;
      font-weight:100%;
      letter-spacing:0px;
      color: $dim__gray;
      text-align:start;
    }
  }
}
@media (max-width: 767px) {
  .category {
    padding-top: 120px;
    &__container {
      padding-left: 24px;
      padding-right: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 48px;
    }
    &__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }
    &__image {
      width: 56px;
      height: 56px;
    }
    &__mini-boxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }
    &__title {
      font-family: "space mono";
      font-size: 20px;
      line-height: 28px;
      font-weight: bold;
      letter-spacing: -0.89px;
      color: $dark__navy;
      text-align: center;
    }
    &__title-text {
        width: 100%;
        font-family: "lexend deca";
      font-size: 15px;
      line-height: 25px;
      font-weight:100%;
      letter-spacing:0px;
      color: $dim__gray;
      text-align: center;
    }
  }
}