.footer {
    background-color: $second__dark-navy;
  padding-top: 35px;
  padding-bottom: 35px;

		&__container {
        @include df-row-between-center;
		}

		&__left-box {
            @include df-row-center-center;
              gap: 58.58px;
		}
		&__logo-link {
               transition: 200ms ease all;
             &:active {
             transition: 200ms ease all;
             opacity: 0.5;
    }
		}
		&__logo-image {
                vertical-align: middle;
             width: 107.82px;
              height: 28.56px;
		}

		&__list {
            @include df-row-center-center;
              gap:32px;
		}
		&__links-texts {
              font-family: "Space Mono";
             font-weight: bold;
             font-size: 15px;
             line-height: 25px;
             letter-spacing: 0px;
              color: $dim__grey;
		}

		&__icons-box {
             @include df-row-center-center;
           gap: 24px;
		}

		&__icons-links {
               transition: 200ms ease all;
             &:active {
             transition: 200ms ease all;
             opacity: 0.5;
    }
		}
		&__icons-images {
              width: 24px;
               height: 24px;
             vertical-align: middle;
		}
}
@media (max-width: 1024px) {
  .footer {
    background-color: $second__dark-navy;
    padding-top: 35px;
    padding-bottom: 35px;
    &__container {
      @include df-row-between-center;
      padding-left: 39px;
      padding-right: 39px;
    }
    &__left-box {
      @include df-row-center-center;
      gap: 58.58px;
    }
    &__logo-link {
      transition: 200ms ease all;
      &:active {
        transition: 200ms ease all;
        opacity: 0.5;
      }
    }
    &__logo-image {
      vertical-align: middle;
      width: 107.82px;
      height: 28.56px;
    }
    &__list {
      @include df-row-center-center;
      gap: 32px;
    }
    &__links-texts {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
    }
    &__icons-box {
      @include df-row-center-center;
      gap: 24px;
    }
    &__icons-links {
      transition: 200ms ease all;
      &:active {
        transition: 200ms ease all;
        opacity: 0.5;
      }
    }
    &__icons-images {
      width: 24px;
      height: 24px;
      vertical-align: middle;
    }
  }
}
@media (max-width: 767px) {
  .footer {
    background-color: $second__dark-navy;
    padding-top: 64px;
    padding-bottom: 88px;
    &__container {
      @include df-column-center-center;
      padding-left: 24px;
      padding-right: 24px;
      gap: 85px;
    }
    &__left-box {
      @include df-column-center-center;
      gap: 41.44px;
    }
    &__logo-link {
      transition: 200ms ease all;
      &:active {
        transition: 200ms ease all;
        opacity: 0.5;
      }
    }
    &__logo-image {
      vertical-align: middle;
      width: 107.82px;
      height: 28.56px;
    }
    &__list {
      @include df-column-center-center;
      gap: 16px;
    }
    &__links-texts {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
    }
    &__icons-box {
      @include df-row-center-center;
      gap: 24px;
    }
    &__icons-links {
      transition: 200ms ease all;
      &:active {
        transition: 200ms ease all;
        opacity: 0.5;
      }
    }
    &__icons-images {
      width: 24px;
      height: 24px;
      vertical-align: middle;
    }
  }
}