.header {
  box-shadow: rgba(252, 182, 43, 0.753) 0px 5px 15px;
  z-index: 1111;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: $white;
  &__container {
    padding-top: 22px;
    padding-bottom: 22px;
    @include df-row-between-center;
  }
  &__test-button {
    opacity: 0;
    display: none;
    border: none;
    outline: none;
    background: none;
  }
  &__test-button-icon {
    width: 20px;
    height: 16px;
    display: none;
  }
  &__left-box {
    @include df-row-center-center;
    gap: 58.18px;
  }
  &__logo-link {
    transition: 100ms ease all;
    &:active {
      transition: 100ms ease all;
      opacity: 0.5;
    }
  }
  &__logo-image {
    width: 107.82px;
    height: 28.56px;
    display: block;
  }
  &__nav {
    display: block;
  }
  &__list {
    @include df-row-center-center;
    gap: 32px;
  }
  &__lists {
  }
  &__links {
  }
  &__links-texts {
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: $dim__grey;
  }
  &__button {
    @include template__button;
  }
  &__mb-buttons {
    display: none;
  }
  &__open-burger {
    display: none;
    border: none;
    outline: none;
    background: none;
  }
  &__open-burger-icon {
    width: 20px;
    height: 16px;
    display: none;
  }
  &__close-burger {
    display: none;
    border: none;
    outline: none;
    background: none;
  }
  &__close-burger-icon {
    display: none;
  }
  &__mb-nav {
    display: none;
  }
  &__mb-list {
    display: none;
  }
  &__mb-lists {
    display: none;
  }
  &__mb-links {
    display: none;
  }
  &__mb-links-texts {
    display: none;
  }
  &__mb-button {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header {
    box-shadow: rgba(252, 182, 43, 0.753) 0px 5px 15px;
    z-index: 1111;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: $white;
    &__container {
      padding-top: 22px;
      padding-bottom: 22px;
      padding-left: 39px;
      padding-right: 39px;
      @include df-row-between-center;
    }
    &__test-button {
      opacity: 0;
      display: none;
      border: none;
      outline: none;
      background: none;
    }
    &__test-button-icon {
      width: 20px;
      height: 16px;
      display: none;
    }
    &__left-box {
      @include df-row-center-center;
      gap: 58.18px;
    }
    &__logo-link {
      transition: 100ms ease all;
      &:active {
        transition: 100ms ease all;
        opacity: 0.5;
      }
    }
    &__logo-image {
      width: 107.82px;
      height: 28.56px;
      display: block;
    }
    &__nav {
      display: block;
    }
    &__list {
      @include df-row-center-center;
      gap: 32px;
    }
    &__lists {
    }
    &__links {
    }
    &__links-texts {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
    }
    &__button {
      @include template__button;
    }
    &__mb-buttons {
      display: none;
    }
    &__open-burger {
      display: none;
      border: none;
      outline: none;
      background: none;
    }
    &__open-burger-icon {
      width: 20px;
      height: 16px;
      display: none;
    }
    &__close-burger {
      display: none;
      border: none;
      outline: none;
      background: none;
    }
    &__close-burger-icon {
      display: none;
    }
    &__mb-nav {
      display: none;
    }
    &__mb-list {
      display: none;
    }
    &__mb-lists {
      display: none;
    }
    &__mb-links {
      display: none;
    }
    &__mb-links-texts {
      display: none;
    }
    &__mb-button {
      display: none;
    }
  }
}
@media (max-width: 767px) {
  .header {
    box-shadow: rgba(252, 182, 43, 0.753) 0px 5px 15px;
    z-index: 1111;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: $white;
    &__container {
      padding-top: 22px;
      padding-bottom: 22px;
      padding-left: 24px;
      padding-right: 24px;
      @include df-row-reverse-between-center;
    }
    &__test-button {
      opacity: 0;
      display: block;
      border: none;
      outline: none;
      background: none;
    }
    &__test-button-icon {
      width: 20px;
      height: 16px;
      display: block;
    }

    &__logo-link {
      transition: 100ms ease all;
      &:active {
        transition: 100ms ease all;
        opacity: 0.5;
      }
    }
    &__logo-image {
      width: 75.5px;
      height: 20px;
      display: block;
    }
    &__nav {
      display: none;
    }
    &__list {
      display: none;
    }
    &__lists {
      display: none;
    }
    &__links {
      display: none;
    }
    &__links-texts {
      display: none;
    }
    &__button {
      display: none;
    }
    &__mb-buttons {
      display: block;
    }
    &__open-burger {
      display: block;
      border: none;
      outline: none;
      background: none;
    }
    &__open-burger-icon {
      width: 20px;
      height: 16px;
      display: block;
    }
    &__close-burger {
      display: none;
      border: none;
      outline: none;
      background: none;
    }
    &__close-burger-icon {
      width: 20px;
      height: 16px;
      display: block;
    }
    &__mb-div {
      transition: 350ms ease all;
      z-index: -1;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 64px;
      transform: translateX(-100%);
      backdrop-filter: blur(5px);
      background: rgba(0, 0, 0, 0.5);
    }
    &__mb-div.active {
      transition: 350ms ease all;
      transform: translateX(0px);
    }
    &__mb-nav {
      transition: 500ms ease all;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      position: fixed;
      padding: 64px 32px 104px 32px;
      z-index: 2;
      top: 0px;
      left: 0;
      width: 85%;
      height: 100vh;
      background-color: #333a44;
    }
    &__mb-list {
      @include df-column-start-start;
      gap: 24px;
    }
    &__mb-lists {
      display: block;
    }
    &__mb-links {
      display: block;
    }
    &__mb-links-texts {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0px;
      display: block;
      color: $light__grey;
    }
    &__mb-button {
      display: block;
      @include template__button;
    }
  }
}