.hero {
  width: 100%;
  margin-top: 101px;
  background-image: url("../../images/hero__background.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 153px;
  padding-bottom: 152px;
  position: relative;
  z-index: 2;
  &::after {
    z-index: -1;
    position: absolute;
    content: "";
    display: inline-block;
    width: 203px;
    height: 15px;
    bottom: 310px;
    left: -70px;
    background-image: url("../../icons/hero__path.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::before {
    z-index: -1;
    position: absolute;
    content: "";
    display: inline-block;
    width: 452px;
    height: 151px;
    bottom: 180px;
    right: 300px;
    background-image: url("../../icons/hero__vector.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__container {
    @include df-column-center-start;
  }
  &__box {
    width: 477px;
    @include df-column-center-start;
    gap: 40px;
  }
  &__title {
    font-family: "Space Mono";
    width: 477px;
    text-align: start;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: $white;
  }
  &__mini-box {
    margin-left: auto;
    @include df-column-center-start;
    gap: 40px;
  }
  &__text {
    font-family: "Lexend Deca";
    width: 400px;
    text-align: start;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: $white;
  }
  &__button {
    @include template__button;
  }
}
@media (max-width: 1300px) {
  .hero {
    width: 100%;
    margin-top: 101px;
    background-image: url("../../images/hero__background.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 153px;
    padding-bottom: 152px;
    position: relative;
    z-index: 2;
    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 203px;
      height: 15px;
      bottom: 310px;
      left: -100px;
      background-image: url("../../icons/hero__path.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 452px;
      height: 151px;
      bottom: 180px;
      right: 200px;
      background-image: url("../../icons/hero__vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-column-center-start;
    }
    &__box {
      width: 477px;
      @include df-column-center-start;
      gap: 40px;
    }
    &__title {
      font-family: "Space Mono";
      width: 477px;
      text-align: start;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -2.5px;
      color: $white;
    }
    &__mini-box {
      margin-left: auto;
      @include df-column-center-start;
      gap: 40px;
    }
    &__text {
      font-family: "Lexend Deca";
      width: 400px;
      text-align: start;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $white;
    }
    &__button {
      @include template__button;
    }
  }
}
@media (max-width: 1200px) {
  .hero {
    width: 100%;
    margin-top: 101px;
    background-image: url("../../images/hero__background.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 153px;
    padding-bottom: 152px;
    position: relative;
    z-index: 2;
    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 203px;
      height: 15px;
      bottom: 310px;
      left: -100px;
      background-image: url("../../icons/hero__path.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 452px;
      height: 151px;
      bottom: 180px;
      right: 200px;
      background-image: url("../../icons/hero__vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-column-center-start;
    }
    &__box {
      width: 477px;
      @include df-column-center-start;
      gap: 40px;
    }
    &__title {
      font-family: "Space Mono";
      width: 477px;
      text-align: start;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -2.5px;
      color: $white;
    }
    &__mini-box {
      margin-left: auto;
      @include df-column-center-start;
      gap: 40px;
    }
    &__text {
      font-family: "Lexend Deca";
      width: 400px;
      text-align: start;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $white;
    }
    &__button {
      @include template__button;
    }
  }
}
@media (max-width: 1100px) {
  .hero {
    width: 100%;
    margin-top: 101px;
    background-image: url("../../images/hero__background.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 153px;
    padding-bottom: 152px;
    position: relative;
    z-index: 2;
    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 203px;
      height: 15px;
      bottom: 310px;
      left: -100px;
      background-image: url("../../icons/hero__path.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 452px;
      height: 151px;
      bottom: 180px;
      right: 20px;
      background-image: url("../../icons/hero__vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-column-center-start;
    }
    &__box {
      width: 477px;
      @include df-column-center-start;
      gap: 40px;
    }
    &__title {
      font-family: "Space Mono";
      width: 477px;
      text-align: start;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -2.5px;
      color: $white;
    }
    &__mini-box {
      margin-left: auto;
      @include df-column-center-start;
      gap: 40px;
    }
    &__text {
      font-family: "Lexend Deca";
      width: 400px;
      text-align: start;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $white;
    }
    &__button {
      @include template__button;
    }
  }
}
@media (max-width: 1024px) {
  .hero {
    width: 100%;
    margin-top: 101px;
    background-image: url("../../images/hero__tb-background.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 137px;
    padding-bottom: 217px;
    position: relative;
    &::after {
      z-index: 1;
      position: absolute;
      content: "";
      display: none;
      width: 203px;
      height: 15px;
      top: 0;
      left: 0;
      background-image: url("../../icons/hero__path.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      z-index: 1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 325px;
      height: 151px;
      bottom: 40px;
      left: 0;
      background-image: url("../../icons/hero__tb-vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-column-center-center;
      padding-left: 39px;
      padding-right: 39px;
    }
    &__box {
      width: 100%;
      @include df-column-center-center;
      gap: 24px;
    }
    &__title {
      font-family: "Space Mono";
      width: 573px;
      text-align: center;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -2.5px;
      color: $white;
    }
    &__mini-box {
      width: 100%;
      @include df-column-center-center;
      gap: 32px;
    }
    &__text {
      font-family: "Lexend Deca";
      width: 573px;
      text-align: center;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $white;
    }
    &__button {
      @include template__button;
    }
  }
}
@media (max-width: 767px) {
  .hero {
    width: 100%;
    margin-top: 64px;
    background-image: url("../../images/hero__mb-background.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 115px;
    padding-bottom: 179px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      display: none;
      width: 203px;
      height: 15px;
      top: 0;
      left: 0;
      background-image: url("../../icons/hero__path.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      position: absolute;
      content: "";
      display: inline-block;
      width: 140px;
      height: 151px;
      bottom: 34px;
      left: 0;
      background-image: url("../../icons/hero__mb-vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-column-center-center;
      padding-left: 24px;
      padding-right: 24px;
    }
    &__box {
      @include df-column-center-center;
      gap: 24px;
    }
    &__title {
      width: 100%;
      font-family: "Space Mono";
      text-align: center;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.79px;
      color: $white;
    }
    &__mini-box {
      @include df-column-center-center;
      gap: 34px;
    }
    &__text {
      font-family: "Lexend Deca";
      width: 100%;
      text-align: center;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $white;
    }
    &__button {
      @include template__button;
    }
  }
}